/* main */
#container{
    display: flex;
    height: 1000px;
    overflow: hidden;
    

    /* 바닥 뿌옇게 */
    background: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0) 98%,
      rgba(20, 20, 20, 0.1) 99%,
      rgba(20, 20, 20, 0.2) 100%
    )
}
.empty{
    width: 40%;
    border: 1px solid gray;
}
.product{
    width: 60%;
    display: flex;
}
.product_left{
    width: 50%;
    border: 1px solid gray;
}
.product_right{
    width: 50%;
    border: 1px solid gray;
}
.product_left_logo{
    width: 100%;
}
.product_right_logo{
    width: 100%;
}
/* content */
.content{
    font-size: 0.7rem;
    padding: 10px;
}
.product_picture img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.product_explain a{
    text-decoration: none;
    color: black;
}
.product_list1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    line-height: 3px;
}
.product_list1 img{
    width: 50px;
}
.product_list2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    line-height: 3px;
}
.product_list2 img{
    width: 50px;
}
.product_list_wrap{
    display: flex;
    text-decoration: none;
    color: black;
}
.product_list_explain{
    margin-left: 5px;
}
.product_list_explain .info_box{
    background-color: whitesmoke;
    color: gray;
    line-height: 15px;
    width: 90px;
}
.product_list_wrap img{
    margin: auto 0;
}

/* 더보기 button */
#more{
    display: block;
    margin: 20px auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#more:hover{
    cursor: pointer;
}
/* login popup */
.wrap .fa-heart{
    background-color: transparent;
    color: black;
}
.btn_open{
    margin:5px; 
    padding:4px 6px; 
    background:#000; 
    color:#fff;
}
.pop_wrap{
    position:fixed; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0;
    background:rgba(0,0,0,0.5); 
    font-size:0; 
    /* text-align: block 요소 안에 있는 inline 요소(inline-block 포함)를 수평 정렬 */
    text-align:center;/*pop_inner 수평 정렬*/
    display: none;
}
.pop_wrap:after{
    display:inline-block;/*text-align과 vertical-align 적용 가능한 형태*/
    height:100%; 
    /* vertical-align: block 요소 안에 있는 inline 요소(inline-block 포함)를 수직 정렬 */
    vertical-align:middle;/*pop_inner 수직 정렬*/
    content:'';
}
.pop_wrap .pop_inner{
    display:inline-block;/*text-align과 vertical-align 적용 가능한 형태*/
    padding:20px 30px; 
    background:#fff; 
    width:200px;
    vertical-align:middle;
    font-size:15px;
    border-radius: 5px;
}
.pop_wrap .pop_inner button{
    background-color: white;
    height: 30px;
    border-radius: 5px;
}
.pop_wrap .pop_inner button:hover{
    cursor: pointer;
}
.pop_wrap .pop_inner a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}





/* footer */
footer{
    background-color: #ffffff;
    font-size: 0.7rem;
}
/* footer call */
.call{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.call_link{
    margin-bottom: 10px;
}
.call_link a{
    background-color: black;
    color: white;
    margin-right: 5px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}
.call_icon a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
/* footer notice */
.notice{
    display: flex;
    justify-content: space-between;
}
.notice_list{
    display: flex;
    flex-direction: column;
}
.notice_list a{
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
}
.notice_menu{
    display: flex;
}
.about_us{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.about_us a{
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
.my_order{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.my_order a{
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
.my_account{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.my_account a{
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
.help{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.help a{
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
/* footer info */
.info_link{
    display: flex;
}
.info_link a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.info_link div{
    margin-right: 5px;
    margin-left: 5px;
    color: gray;
}
.info_list p{
    margin-right: 10px;
}
.info_list1{
    display: flex;
    color: gray;
}
.info_list1 a{
    background-color: gray;
    color: white;
    text-decoration: none;
    height: 20px;
    line-height: 20px;
    padding: 3px;
}
.info_list2{
    display: flex;
    color: gray;
}
.info_list3{
    display: flex;
    color: gray;
}
.info_list4{
    display: flex;
    color: gray;
}
.info_list4 a{
    color: gray;
    font-weight: bold;
}